<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="referrer" content="no-referrer">
     <meta charset="UTF-8">
     <title>车间数据化管理系统</title>

     <link type="text/css" rel="stylesheet" href="/css/common.css">

</head>
<body style="overflow-x: hidden;">
<center>

     <p style="width: 100%; height: 60px; margin-top: 60px; font-size: 22px; color: #777777">
          基于调度算法的生产车间数据管理中心
     </p>
     <img src="/img/default.png" style="width: 400px">
</center>
</body>
<script>

</script>
</html>